{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ customer_record.cod_assessor }} 
		</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Negócio: </strong>{{ customer_record.negocio }}</p>

<p class="card-text">
<strong>Cliente: </strong>{{ customer_record.cliente }}
</p>

<p class="card-text">
<strong>Data Inicial: </strong>{{ customer_record.data_inicial }}</p>

<p class="card-text">
<strong>Data Fechamento: </strong>{{ customer_record.data_final }}</p>

<p class="card-text">
<strong>Empresa Parceira: </strong>{{ customer_record.empresa_parceira }}</p>

<p class="card-text">
<strong>Anotações: </strong>{{ customer_record.anotacoes }}</p>

<p class="card-text">
<strong>Create At: </strong>{{ customer_record.create_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ customer_record.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Apagar</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Atualizar</a>
		

{% endblock %}